# fastapi
# uvicorn[standard]
# python-dotenv

# langchain
# langchain-core
# langchain-community
# langchain-text-splitters
# langchain-huggingface
# langchain-groq

# faiss-cpu
# sentence-transformers
# unstructured
# requests
# beautifulsoup4
# lxml

fastapi
uvicorn
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq

faiss-cpu
fastembed

requests
beautifulsoup4